body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 95vh;
    font-family: monospace;
    text-align: center;
}

#calculator {
    background-color: lightgray;
    border: 0.2em solid black;
    border-radius: 0.2em;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px,auto) repeat(5,80px);
    gap: 0.2em;
}

#display {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 5em;
    font-weight: 500;
    overflow: hidden;
    background-color: whitesmoke;
}

button {
    font-size: 2em;
    margin: 0.1em;
    border-radius: 0.3em;
}

#zero {
    grid-column: span 2;
}

.operator {
    background-color: darkgray;
}

.clear {
    background-color: rgb(214, 49, 49);
}

.operand {
    background-color: rgb(52, 52, 52);
    color: white;
}

.equals {
    background-color: orange;
}